$font-1:white;
$font-2:rgba(255, 255, 255, 0.788);
$font-3:rgb(168,168,168);
$font-4:rgb(119, 119, 119);
$background-1:#000000;
$background-2:#121212;
$background-3:#1a1a1a;
$background-4:#262626;
$background-5:#363636;
$background-6:#585858;

$blue-1:rgb(55, 151, 240);
$blue-select:rgba(55, 151, 240, .5);
$green-1:#CED74D;
$green-2:#a0b913;
$green-3:#859916;
$red-1:#F61C2C;
$red-2:rgb(185, 28, 28);
$red-3:rgb(73, 10, 10);

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}
@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-style: oblique 0deg 10deg;
	src: url("assets/fonts/Inter_variable.ttf");
}

@font-face {
    font-family: 'Lekton';
    src: url('assets/fonts/lekton/Lekton-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lekton';
    src: url('assets/fonts/lekton/Lekton-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lekton';
    src: url('assets/fonts/lekton/Lekton-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

html, body {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}


#app {
    height: 100vh;
}
main {
	&, & > *, * {
		--baseBg:rgba(0,0,0, 1);
	}

	.appTitleBar {display:none;}
}
main[data-user-os="darwin"] {
	&, & > *, * {
		--baseBg:rgba(0,0,0, .2);
	}
}

main {
	height:100%;
	width:100%;

	display:flex;
	flex-direction: column;

	background:var(--baseBg);
}

* {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family:'Inter';
}

.appTitleBar {
	width:100%;
	height:29px;
	background: var(--baseBg);
	border-bottom:1px solid $background-5;
}

pre {
	font-family:'Courier New';padding: 5px;
	margin: 0;
	margin-top: 0px;
	background: rgba(0, 0, 0, .3);
	margin-top: 5px;
	border-radius: 3px;
	font-size: 13px;
}

input[type=text]::selection {
	background:#f81ce5 !important;
	color:black;
}



.toolbar {
	background:$background-2;
	width:100%;
	height:50px;
	display:none;
}
.pathbar {
	background:var(--baseBg); /*t*/
	width:100%;
	height:50px;

	display:flex;
	align-items: center;
	padding:0 10px;
	gap:10px;	box-sizing: border-box;

	& > .backButton, & > .forwardButton {
		width:25px;
		height:25px;
		color:$font-1;
		font-size:14px;
		display:block;
		display:flex;
		justify-content: center;
		align-items: center;
		background:none;
		border:none;
		outline:none;
		padding:0;
		
		& > .icon {
			width:16px;
			height:16px;
			stroke-width: 3px;
			color:$font-1;
		}

		&:not(:disabled):hover {
			background:$background-5;
		}

		&:disabled {
			& > .icon {
				color:$font-3;
			}
		}
	}

	& > .path , & > .search {
		height:35px;
		padding:0;
		margin:0;
		border:0;
		color:$font-1;
		background:var(--baseBg); /*t*/
		border:1px solid $background-5;
		padding:0 5px;
		box-sizing: border-box;
		outline:none;

		&:focus {
			border-color:$background-6;
		}
		&.path {
			color:$font-2;
			flex:1;
		}
	}
}
.mainContent {
	flex:1;
	display:flex;
	& > .navPane {
		flex:1;
		background:var(--baseBg); /*t*/
		max-width:225px;
		border-right:1px solid $background-5;
		padding:5px;
		box-sizing: border-box;

		& > .section {
			margin-bottom:10px;
			display:flex;
			flex-direction: column;

			& > .title {
				position: relative;
				z-index:100;

				& > .text {
					color:white;
					font-size:13px;
					font-weight: 400;
					margin-left:10px;
					padding:0 5px;
					box-sizing: border-box;
				}

				&::before {
					content:'';
					left:0;
					width:100%;
					height:1px;
					background:$background-5;
					position: absolute;
					top:50%;
					transform:translateY(-50%);
					z-index:-1;
				}
			}
			& > .elements {
				display:flex;
				flex-direction: column;

				& > .element {
					padding:7px 15px;
					box-sizing: border-box;

					display:flex;
					align-items: center;
					gap:6px;
					background:none;
					border:none;
					text-align: left;

					& > .icon {
						width:16px;
						height:16px;
					}
					& > .text {
						color:$font-1;
						font-size:14px;
						flex:1;
						overflow:hidden;
						font-weight: 300;
					}

					&:hover {
						cursor:pointer;
						background:$background-4;
					}

					&.active {
						background:$background-3;
					}
				}
				
				& > .emptyMessage {
					width:100%;
					height:100%;
					display:flex;
					justify-content: center;
					align-items: center;

					color:$font-1;
					opacity:.4;
					font-size:12px;
					font-weight: 200;
				}
			}
		}
	}

	& > .fileBrowser {
		flex:2;
		background:var(--baseBg); /*t*/
		padding:0 10px 5px 10px;
		box-sizing: border-box;
		overflow:hidden;
		overflow-y:auto;
		max-height:calc(100vh - 35px - 20px - 16px - 2px);

		& > .file {
			display:inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding:10px;
			padding-bottom:5px;
			justify-content: space-between;
			float:left;
			margin:5px;
			border-radius:3px;
			width:115px;
			height:130px;
			box-sizing: border-box;
			background:none;
			border:none;
			transition: all .15s;
			outline:none;
			border:1px solid transparent;

			& > .icon {
				width:90px;
				height:90px;
				stroke-width: .5px;
			}

			& > .imagePreview {
				width:90px;
				height:90px;
				background-size:contain;
				background-repeat:no-repeat;
				background-position:center;

			}

			& > .text {
				color:$font-1;
				margin-top:5px;
				font-weight: 300;
				font-size:13px;
				text-align: center;
				width:100%;
				white-space: nowrap;
				overflow: hidden !important;
				text-overflow: ellipsis;
			}

			&:hover, &:focus {
				background:$background-3;
			}

			&.selected {
				background:rgba($font-1, .2);
				border-color: rgba($font-1, .2);
			}
		}

		& > .emptyMessage {
			width:100%;
			height:100%;
			display:flex;
			justify-content: center;
			align-items: center;

			color:$font-1;
			opacity:.4;
			font-weight: 200;
		}
	}

}

.loader {
	width:100%;

	& > .progress {
		width:var(--loadProgress, 0) !important;
		height:2px;
		background:$blue-1;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}

.bottom {
	background:var(--baseBg); /*t*/
	width:100%;
	height:20px;
	display:flex;
	justify-content: space-between;
	padding:0;
	border-top:1px solid $background-5;
	& > .breadcrumbs {
		display:flex;
		align-items: center;
	
	
		& > .icon {
			width:16px;
			height:16px;
			color:$font-1;
		}
	
		& > .breadcrumb {
			display:flex;
			overflow:hidden;
			align-items: center;
			padding:0 4px;
			gap:4px;
			height:20px;
			background:none;
			border:none;
			outline:none;
			transition: all .1s linear;
	
			& > .icon {
				width:14px;
				height:14px;
			}
	
			& > .text {
				color:$font-1;
				font-size:14px;
				line-height: 0;
			}
	
			&:hover {
				cursor:pointer;
				background:$background-6;
			}
		}
	}
	& > .percent {
		color:$font-3;
		font-size:13px;
		line-height: 20px;
	}

	& > .right {
		padding-right:10px;
		height:100%;
		& > .logo {
			display:flex;
			align-items: center;
			background:none;
			border:none;
			height:100%;
			transition: opacity .1s linear;

			&:hover {
				cursor:pointer;
				opacity:.8;
			}

			& > img.appicon {
				height:100%;
			}

			& > span.appname {
				color:$font-1;
				font-weight: 600;
				font-size:14px;
			}

			& > span.version {
				margin-left:3px;
				color:$font-3;
				font-weight: 300;
				font-size:13px;
			}
		}
	}
}


// File custom icons:
.icon {
	stroke-width: 2.5px;
	fill:$background-3;
	
	&.home {fill:$font-1;}


	&.windows {
		--folderDesktop:rgb(55, 151, 240);
		--folderDownloads:#CED74D;
		--folderDocuments:orange;
		--folderPictures:lightgreen;
		--folderMusic:deeppink;
		--folderVideo:rgb(183, 0, 255);
		--folderDisk:white; // ! $font-1
		--folder: #ffd768;
	}
	
	&.darwin {
		--folderDesktop		:#00a5ff;
		--folderDownloads	:#00a5ff;
		--folderDocuments	:#00a5ff;
		--folderPictures	:#00a5ff;
		--folderMusic		:#00a5ff;
		--folderVideo		:#00a5ff;
		--folderApplications:#00a5ff;
		--folderMovies		:#00a5ff;
		--folderDisk		:#00a5ff;
		--folder			:#78cff2;
	}

	&.folderDesktop {
		fill:var(--folderDesktop, white);
	}
	&.folderDownloads, &.folderDownloads * {
		fill:var(--folderDownloads, white);
		stroke-width: 3px;
	}
	&.folderDocuments, &.folderDocuments > * {
		fill:var(--folderDocuments, white);
		stroke:var(--folderDocuments, white);
	}
	&.folderPictures {
		fill:var(--folderPictures, white);
	}
	&.folderMusic {
		fill:var(--folderMusic, white);
	}
	&.folderVideo {
		fill:var(--folderVideo, white);
	}
	&.folderDisk {
		fill:var(--foldfolderDisker, white);
	}
	&.folderApplications {
		fill:var(--folderApplications, white);
	}
	&.folderMovies {
		fill:var(--folderMovies, white);
	}
	&.folder {
		fill:var(--folder, white);
	}


	&.fileImage {fill:lightgreen;}
	&.fileAudio {fill:deeppink;}
	&.fileVideo {fill:rgb(183, 0, 255);}
	&.fileCompressed {fill:$font-1;}
	&.fileExecutable {fill:$font-1;}
	&.fileExecutableScript {fill:$font-1;}
	&.fileFont {fill:$font-1;}
	&.filePdf {fill:rgb(196, 20, 20);}
	&.fileCode {fill:$font-1;}
	&.fileJson {fill:$font-1;width:70px !important;}
	&.file {fill:$font-1;}
}



::-webkit-scrollbar {
	width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: var(--baseBg); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: $background-4; 
	border-radius:4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: $background-5; 
  }

.fileContextMenu {
	position:fixed;
	top:0;
	left:0;
	width:200px;
	height:auto;
	flex-direction: column;
	border-radius:6px;
	border:1px solid rgba($font-1, .3);
	background:rgba($background-1, 1);
	z-index:999;
	$extraPadding:4px;
	padding:$extraPadding;
	box-sizing: border-box;

	display:none;

	&.opened {
		display:flex;
	}


	& > button.element {
		background:none;
		border:none;
		outline:none;
		height:30px;
		width:100%;
		display:flex;
		padding:0 15px;
		align-items: center;
		box-sizing: border-box;
		gap:10px;
		border-radius: 3px;

		& > .icon {
			--color:white;
			fill:var(--color, $font-4);
			width:16px;
			height:16px;

			&.open, &.delete {
				stroke:var(--color, $font-4);
				fill:none;
			}
		}

		& > .text {
			color:white;
			font-weight: 300;
			font-size:13px;
		}

		&.disabled {
			& > .icon {
				--color:unset;
			}
			& > .text {
				color:$font-4;
			}
		}
		&.hide {
			display:none;
		}

		&:not(.disabled):hover {
			background:$background-4;
		}
	}

	& > .divider {
		width:calc(100% + $extraPadding * 2);
		margin:$extraPadding 0;
		margin-left:-$extraPadding;
		height:1px;
		background: rgba($font-1, .3);
		
		&.hide {
			display:none;
		}
	}
}

.modalParent {
	position:fixed;
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	background:rgba($background-1, .9);
	z-index:999;
	
	.modal {
		padding:0 15px;
		box-sizing: border-box;
		min-width:400px;

		border:1px solid $background-5;
		background:$background-1;
		display:flex;
		flex-direction: column;
		border-radius:6px;

		& > .top {
			color:$font-1;
			font-weight: 500;
			font-size:20px;
			height:45px;
			display:flex;
			align-items: center;
			border-bottom:1px solid $background-5;
			& > .title {
				max-width:370px;
				white-space: nowrap;
				overflow: hidden !important;
				text-overflow: ellipsis;
			}
		}
		& > .middle {
			display:block;
			padding:15px 5px;
			color:$font-2;
			font-size:14px;

			& > .flexContent {
				display:flex;
				flex-direction: column;
				justify-content: center;

				& > .categoryTitle {
					font-size:11px;
					color:$font-3;
					margin-bottom:3px;
				}
	
				& > input {
					background:none;
					border:none;
					outline:none;
					color:white;
					padding:10px;
					border:1px solid $background-5;
					width:100%;
					box-sizing: border-box;
				}
			}

		}
		& > .bottom {
			height:45px;
			display:flex;
			align-items: center;
			border-top:1px solid $background-5;
			display:flex;
			justify-content: space-between;
			align-items: center;

			& > button {
				border:none;
				outline:none;
				background:white;
				color:white;
				padding:5px 20px;
				border-radius: 2px;
				font-weight: 500;
				transition: all .1s linear;

				&.cancel {
					background:$background-1;
					border:1px solid $background-5;
					color:$font-2;

					&:hover {
						cursor:pointer;
						color:$font-1;
						border-color:$background-6;
					}
				}

				&.confirm {
					background:$blue-select;
					color:$font-3;

					&:not(:disabled) {
						background:#00a5ff;
						color:$font-1;
						&:hover {
							cursor:pointer;
							opacity:.9;
						}
					}
				}
			}
		}
		display:none;


		&.newFile > .middle > .flexContent {
			margin:15px 0;

			& > .typeOptions {
			display:flex;
			width:100%;
			margin-bottom:5px;
			gap:10px;

				& > .option {
					background:none;
					outline:none;
					flex:1;
					border-radius:3px;
					border:1px solid $background-5;
					display:flex;
					justify-content: flex-start;
					padding:10px 10px;
					gap:10px;
					transition: all .1s linear;

					& > .icon {
						width:16px;
						height:16px;
						stroke-width: 3px;
						color:$font-1;
					}
					& > .text {
						color:$font-1;
					}

					&.active {
						background:$background-3;
					}

					&:not(.active) {
						opacity:.7;

						&:hover {
							cursor:pointer;
							opacity:.9;
						}
					}
				}
			}
		}
		
		&.properties > .middle > .flexContent {
			padding:0 20px;
			box-sizing: border-box;
			.doubleField {
				display:flex;
				align-items: center;
				margin:5px 0;

				& > .key {
					min-width:105px;
					font-weight: bold;

					& > .icon, & > .imagePreview {
						width:50px;
						height:50px;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
					}
				}
				
				& > .value {
					width:100%;
					opacity:.9;
					position:relative;
					display:flex;
					align-items: center;
					gap:5px;
					transition: all .1s linear;
					background: none;
					border:none;
					outline: none;
					padding:0;
					margin:0;

					& > .text {
						max-width:240px;
						white-space: nowrap;
						overflow: hidden !important;
						text-overflow: ellipsis;
						font-family: 'Lekton';
						color:$font-1;
						font-size:14px;
					}

					& > .icon {
						fill:$font-1;
						opacity:.8;
						width:15px;
						height:15px;
						transition: all .1s linear;
						visibility: hidden;
						opacity:0;
					}


					&:hover {
						cursor:pointer;
						opacity:1;
						& > .icon {
							opacity:1;
							visibility: visible;
						}
					}
				}
			}

			& > .divider {
				width:100%;
				height:0;
				border-top:1px solid $background-5;
				margin:5px 0;
			}
		}
	}

	&[data-activemodal=""] {display:none;}

	&[data-activemodal="newFile"] > .modal.newFile {display:flex;}
	&[data-activemodal="rename"] > .modal.rename {display:flex;}
	&[data-activemodal="delete"] > .modal.delete {display:flex;}
	&[data-activemodal="properties"] > .modal.properties {display:flex;}

}