main {
	--font-1:			white;
	--font-2:			rgba(255, 255, 255, 0.788);
	--font-3:			rgb(168,168,168);
	--font-4:			rgb(119, 119, 119);
	
	--ft-r:255;
	--ft-g:255;
	--ft-b:255;

	--background-1:		#000000;
	--background-2:		#121212;
	--background-3:		#1a1a1a;
	--background-4:		#262626;
	--background-5:		#363636;
	--background-6:		#585858;

	--bg-r:0;
	--bg-g:0;
	--bg-b:0;
	
	--blue-1:			rgb(34, 139, 230);
	--blue-select:		rgba(55, 151, 240, .5);

	--appTitleBarHeight:29px;

	&.light {
		--font-1:		black;
		--font-2:		rgba(0, 0, 0, 0.788);
		--font-3:		rgb(168, 168, 168);
		--font-4:		rgb(119, 119, 119);
		
		--ft-r:0;
		--ft-g:0;
		--ft-b:0;

		--background-1:	#FFFFFF;
		--background-2:	#F0F0F0;
		--background-3:	#EAEAEA;
		--background-4:	#DEDEDE;
		--background-5:	#C8C8C8;
		--background-6:	#A8A8A8;

		--bg-r:255;
		--bg-g:255;
		--bg-b:255;
	
		--blue-1:		rgb(55, 151, 240);
		--blue-select:	rgba(55, 151, 240, .5);
	}
}


main:not([data-user-os="darwin"]) {
	.appTitleBar {display:none;}
	--appTitleBarHeight:0px;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}
@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-style: oblique 0deg 10deg;
	src: url("assets/fonts/Inter_variable.ttf");
}

@font-face {
    font-family: 'Lekton';
    src: url('assets/fonts/lekton/Lekton-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lekton';
    src: url('assets/fonts/lekton/Lekton-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lekton';
    src: url('assets/fonts/lekton/Lekton-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

html, body {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}


#app {
    height: 100vh;
}

main {
	height:100%;
	width:100%;

	display:flex;
	flex-direction: column;

	background:var(--baseBg);
}

* {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family:'Inter';
}

.appTitleBar {
	width:100%;
	height:var(--appTitleBarHeight);
	background: var(--baseBg);
	border-bottom:1px solid var(--background-5);
}


input[type=text]::selection {
	background:#f81ce5 !important;
	color:var(--background-1);
}



.toolbar {
	background:var(--background-2);
	width:100%;
	height:50px;
	display:none;
}
.pathbar {
	background:var(--baseBg); /*t*/
	width:100%;
	height:50px;

	display:flex;
	align-items: center;
	padding:0 10px;
	gap:10px;	box-sizing: border-box;

	& > .backButton, & > .forwardButton, & > .inputWithButton > .pathGoRefresh {
		width:25px;
		height:25px;
		color:var(--font-1);
		font-size:14px;
		display:block;
		display:flex;
		justify-content: center;
		align-items: center;
		background:none;
		border:none;
		outline:none;
		padding:0;
		
		& > .icon {
			width:16px;
			height:16px;
			stroke-width: 3px;
			color:var(--font-1);
		}

		&:not(:disabled):hover {
			background:var(--background-5);
		}

		&:disabled {
			& > .icon {
				color:var(--font-3);
			}
		}
	}

	& > .inputWithButton > .path , & > .search {
		height:35px;
		padding:0;
		margin:0;
		border:0;
		color:var(--font-1);
		background:var(--baseBg); /*t*/
		border:1px solid var(--background-5);
		padding:0 5px;
		box-sizing: border-box;
		outline:none;

		&:focus {
			border-color:var(--background-6);
		}
		&.path {
			color:var(--font-2);
			flex:1;
		}
	}

	& > .inputWithButton {
		display:flex;
		flex:1;
		justify-content: center;
		align-items: center;
		height:35px;
		position:relative;

		& > .path {
		}
		& > .pathGoRefresh {
			position:absolute;
			right:5px;
		}
	}
}
.mainContent {
	flex:1;
	display:flex;
	& > .navPane {
		flex:1;
		background:var(--baseBg); /*t*/
		max-width:225px;
		border-right:1px solid var(--background-5);
		padding:5px;
		box-sizing: border-box;

		& > .section {
			margin-bottom:10px;
			display:flex;
			flex-direction: column;

			& > .title {
				position: relative;
				z-index:1;

				& > .text {
					color:var(--font-1);
					font-size:13px;
					font-weight: 400;
					margin-left:10px;
					padding:0 5px;
					box-sizing: border-box;
				}

				&::before {
					content:'';
					left:0;
					width:100%;
					height:1px;
					background:var(--background-5);
					position: absolute;
					top:50%;
					transform:translateY(-50%);
					z-index:-1;
				}
			}
			& > .elements {
				display:flex;
				flex-direction: column;

				& > .element {
					padding:7px 15px;
					box-sizing: border-box;

					display:flex;
					align-items: center;
					gap:6px;
					background:none;
					border:none;
					text-align: left;

					& > .icon {
						width:16px;
						height:16px;
					}
					
					& > .text {
						color:var(--font-1);
						font-size:14px;
						flex:1;
						overflow:hidden;
						font-weight: 300;
					}

					&:hover {
						cursor:pointer;
						background:var(--background-4);
					}

					&.active {
						background:var(--background-3);
					}
				}
				
				& > .emptyMessage {
					width:100%;
					height:100%;
					display:flex;
					justify-content: center;
					align-items: center;

					color:var(--font-1);
					opacity:.4;
					font-size:12px;
					font-weight: 200;
				}
			}
		}
	}

	& > .fileBrowser {
		flex:2;
		background:var(--baseBg); /*t*/
		padding:0 10px 5px 10px;
		box-sizing: border-box;
		overflow:hidden;
		overflow-y:auto;
		max-height:calc(100vh - 35px - 20px - 16px - 2px - var(--appTitleBarHeight));

		& > .file {
			display:inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			justify-content: space-between;
			float:left;
			box-sizing: border-box;
			background:none;
			border:none;
			transition: all .15s;
			outline:none;
			border:1px solid transparent;

			padding:10px;
			padding-bottom:5px;
			margin:5px;
			border-radius:3px;
			width:calc(var(--zoom) * 115px / 100);
			height:calc(var(--zoom) * 130px / 100);

			&, & > *, & > ** {
				transition: all .15s;
			}

			&.hidden {
				opacity:.5;
			}

			& > .iconOuter {
				width:calc(var(--zoom) * 90px / 100);
				height:calc(var(--zoom) * 90px / 100);
				position:relative;

				& > .icon {
					position:absolute;
					left:50%;
					top:50%;
					transform:translate(-50%, -50%);
					width:calc(var(--zoom) * 80px / 100);
					height:calc(var(--zoom) * 80px / 100);

					&.file_icon {
						top:67.5%;
						transform:translate(-50%, -67.5%);
						width:calc(var(--zoom) * 45px / 100);
						height:calc(var(--zoom) * 45px / 100);
					}
				}
			}


			& > .imagePreview {
				width:calc(var(--zoom) * 90px / 100);
				height:calc(var(--zoom) * 90px / 100);
				background-size:contain;
				background-repeat:no-repeat;
				background-position:center;
			}

			& > .text {
				color:var(--font-1);
				margin-top:calc(var(--zoom) * 10px / 100 - 5px);
				font-weight: 300;
				font-size:max(calc(var(--zoom) * 13px / 100), 11px);
				text-align: center;
				width:100%;
				white-space: nowrap;
				overflow: hidden !important;
				text-overflow: ellipsis;
			}

			&:hover, &:focus {
				background:var(--background-3);
			}

			&.selected {
				background:rgba(var(--ft-r), var(--ft-g), var(--ft-b), .2);
				border-color: rgba(var(--ft-r), var(--ft-g), var(--ft-b), .2);
			}
		}

		& > .emptyMessage {
			width:100%;
			height:100%;
			display:flex;
			justify-content: center;
			align-items: center;

			color:var(--font-1);
			opacity:.4;
			font-weight: 200;
		}
	}

}

.loader {
	width:100%;

	& > .progress {
		width:var(--loadProgress, 0) !important;
		height:2px;
		background:var(--blue-1);
		border-top-right-radius: 2px;
		border-bottom-left-radius: 2px;
	}
}

main > .bottom {
	background:var(--baseBg); /*t*/
	width:100%;
	height:20px;
	display:flex;
	padding:0;
	z-index:1;
	border-top:1px solid var(--background-5);

	& > .breadcrumbs {
		display:flex;
		align-items: center;
		flex:1;
	
	
		& > .icon {
			width:16px;
			height:16px;
			color:var(--font-1);
		}
	
		& > .breadcrumb {
			display:flex;
			overflow:hidden;
			align-items: center;
			padding:0 4px;
			gap:4px;
			height:20px;
			background:none;
			border:none;
			outline:none;
			transition: all .1s linear;
	
			& > .icon {
				width:14px;
				height:14px;
			}
	
			& > .text {
				color:var(--font-1);
				font-size:14px;
				line-height: 0;
			}
	
			&:hover {
				cursor:pointer;
				background:var(--background-6);
			}
		}
	}

	& > .percent {
		color:var(--font-3);
		font-size:13px;
		line-height: 20px;
	}

	& > .vDivider {
		height:100%;
		width:1px;
		background:var(--background-5);
	}

	& > .zoom {
		display:flex;
		align-items: center;
		gap:5px;

		& > .zoomOut, & > .zoomIn {
			display:grid;
			place-items: center;
			background:none;
			border:none;
			outline:none;

			color:var(--font-1);
			font-size:14px;
			padding:0 4px;
			height:100%;
			transition:all .1s linear;

			&:disabled {
				color:var(--font-3);
			}

			&:not(:disabled):hover {
				cursor:pointer;
				background:var(--background-5);
			}
		}

		& > .zoomLevel {
			color:var(--font-3);
			font-size:12px;
		}
	}

	& > .activeJobsAmount {
		display:flex;
		justify-content: center;
		align-items: center;
		position:relative;


		& > .activeJobsButton {
			background:none;
			border:none;
			outline:none;
			padding:0 10px;
			transition:all .1s linear;
			height:100%;
			display:flex;
			align-items: center;
			justify-content: center;

			& > .text {
				color:var(--font-3);
				font-size:13px;
				white-space: nowrap;
			}

			&:hover {
				cursor:pointer;
				background:var(--background-4);
			}
		}

	}
	& > .right {
		width:150px;
		height:100%;
		& > .logo {
			padding:0;
			padding-right:10px;
			box-sizing: border-box;
			width:100%;
			display:flex;
			align-items: center;
			justify-content: flex-end;
			background:none;
			border:none;
			height:100%;
			transition: opacity .1s linear;

			&:hover {
				cursor:pointer;
				opacity:.8;
			}

			& > img.appicon {
				height:100%;
			}

			& > span.appname {
				color:var(--font-1);
				font-weight: 600;
				font-size:14px;
			}

			& > span.version {
				margin-left:3px;
				color:var(--font-3);
				font-weight: 300;
				font-size:13px;
			}
		}
	}
}


// File custom icons:
.icon {
	stroke-width: 2.5px;
	color:var(--background-3);
	
	&.home {color:var(--font-1);}


	&.windows {
		--folderDesktop:rgb(55, 151, 240);
		--folderDownloads:#CED74D;
		--folderDocuments:orange;
		--folderPictures:lightgreen;
		--folderMusic:deeppink;
		--folderVideo:rgb(183, 0, 255);
		--folderDisk:var(--font-1); // ! var(--font-1)
		--folder: #FFCA28; //#ffd768;
	}
	
	&.darwin {
		--folderDesktop		:#00a5ff;
		--folderDownloads	:#00a5ff;
		--folderDocuments	:#00a5ff;
		--folderPictures	:#00a5ff;
		--folderMusic		:#00a5ff;
		--folderVideo		:#00a5ff;
		--folderDisk		:#00a5ff;
		--folder			:#78cff2;
	}
	--folderApplications:#00a5ff;
	--folderMovies		:#00a5ff;

	&.folderDesktop {
		color:var(--folderDesktop, var(--font-1));
	}
	&.folderDownloads {
		color:var(--folderDownloads, var(--font-1));
	}
	&.folderDocuments {
		color:var(--folderDocuments, var(--font-1));
	}
	&.folderPictures {
		color:var(--folderPictures, var(--font-1));
	}
	&.folderMusic {
		color:var(--folderMusic, var(--font-1));
	}
	&.folderVideo {
		color:var(--folderVideo, var(--font-1));
	}
	&.folderDisk {
		color:var(--foldfolderDisker, var(--font-1));
	}
	&.folderApplications {
		color:var(--folderApplications, var(--font-1));
	}
	&.folderMovies {
		color:var(--folderMovies, var(--font-1));
	}
	&.folder {
		color:var(--folder, var(--font-1));
	}


	&.fileImage {color:lightgreen;}
	&.fileAudio {color:deeppink;}
	&.fileVideo {color:rgb(183, 0, 255);}
	&.fileCompressed {color:var(--font-1);}
	&.fileExecutable {color:var(--font-1);}
	&.fileExecutableScript {color:var(--font-1);}
	&.filePdf {color:rgb(196, 20, 20);}
	&.fileDoc {color:#0369A3;}
	&.fileCalc {color:#18A303;}
	&.fileSlides {color:#BC4D04;}
	&.file_ {color:var(--font-1);}
	&.file {color:var(--font-1);}
}



::-webkit-scrollbar {
	width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: var(--baseBg); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: var(--background-4); 
	border-radius:4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: var(--background-5); 
  }

.fileContextMenu {
	position:fixed;
	top:0;
	left:0;
	width:200px;
	height:auto;
	flex-direction: column;
	border-radius:6px;
	border:1px solid var(--background-5);
	background:var(--background-2);
	z-index:999;
	$extraPadding:4px;
	padding:$extraPadding;
	box-sizing: border-box;

	display:none;

	&.opened {
		display:flex;
	}


	& > button.element {
		background:none;
		border:none;
		outline:none;
		height:30px;
		width:100%;
		display:flex;
		padding:0 15px;
		align-items: center;
		box-sizing: border-box;
		gap:10px;
		border-radius: 3px;

		& > .icon {
			--color:var(--font-1);
			color:var(--color, var(--font-4));
			width:16px;
			height:16px;
		}

		& > .text {
			color:var(--font-1);
			font-weight: 300;
			font-size:13px;
		}

		&.disabled {
			& > .icon {
				--color:unset;
			}
			& > .text {
				color:var(--font-4);
			}
		}
		&.hide {
			display:none;
		}

		&:not(.disabled):hover {
			background:var(--background-4);
		}
	}

	& > .divider {
		width:calc(100% + $extraPadding * 2);
		margin:$extraPadding 0;
		margin-left:-$extraPadding;
		height:1px;
		background: rgba(var(--ft-r), var(--ft-g), var(--ft-b), .3);
		
		&.hide {
			display:none;
		}
	}
}

.modalParent {
	position:fixed;
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	background:rgba(var(--bg-r), var(--bg-g), var(--bg-b), .9);
	z-index:999;
	gap:20px;
	
	.modal {
		padding:0 15px;
		box-sizing: border-box;
		min-width:400px;

		border:1px solid var(--background-5);
		background:var(--background-1);
		display:flex;
		flex-direction: column;
		border-radius:6px;

		& > .top {
			color:var(--font-1);
			font-weight: 500;
			font-size:20px;
			height:45px;
			display:flex;
			align-items: center;
			border-bottom:1px solid var(--background-5);
			& > .title {
				max-width:370px;
				white-space: nowrap;
				overflow: hidden !important;
				text-overflow: ellipsis;
			}
		}
		& > .middle {
			display:block;
			padding:15px 5px;
			color:var(--font-2);
			font-size:14px;

			& > .flexContent {
				display:flex;
				flex-direction: column;
				justify-content: center;

				& > .categoryTitle {
					font-size:11px;
					color:var(--font-3);
					margin-bottom:3px;
				}
	
				& > input {
					background:none;
					border:none;
					outline:none;
					color:var(--font-1);
					padding:10px;
					border:1px solid var(--background-5);
					width:100%;
					box-sizing: border-box;
				}
			}

		}
		& > .bottom {
			height:45px;
			display:flex;
			align-items: center;
			border-top:1px solid var(--background-5);
			display:flex;
			justify-content: space-between;
			align-items: center;

			& > button {
				border:none;
				outline:none;
				background:var(--font-1);
				color:var(--font-1);
				padding:5px 20px;
				border-radius: 2px;
				font-weight: 500;
				transition: all .1s linear;

				&.cancel {
					background:var(--background-1);
					border:1px solid var(--background-5);
					color:var(--font-2);

					&:hover {
						cursor:pointer;
						color:var(--font-1);
						border-color:var(--background-6);
					}
				}

				&.confirm {
					background:var(--blue-select);
					color:var(--font-3);

					&:not(:disabled) {
						background:#00a5ff;
						color:var(--font-1);
						&:hover {
							cursor:pointer;
							opacity:.9;
						}
					}
				}
			}
		}
		display:none;


		&.newFile > .middle > .flexContent {
			margin:15px 0;

			& > .typeOptions {
			display:flex;
			width:100%;
			margin-bottom:5px;
			gap:10px;

				& > .option {
					background:none;
					outline:none;
					flex:1;
					border-radius:3px;
					border:1px solid var(--background-5);
					display:flex;
					justify-content: flex-start;
					padding:10px 10px;
					gap:10px;
					transition: all .1s linear;

					& > .icon {
						width:16px;
						height:16px;
						stroke-width: 3px;
					}
					& > .text {
						color:var(--font-1);
					}

					&.active {
						background:var(--background-3);
					}

					&:not(.active) {
						opacity:.7;

						&:hover {
							cursor:pointer;
							opacity:.9;
						}
					}
				}
			}
		}
		
		&.properties > .middle > .flexContent {
			padding:0 20px;
			box-sizing: border-box;
			.doubleField {
				display:flex;
				align-items: center;
				margin:5px 0;

				& > .key {
					min-width:105px;
					font-weight: bold;

					& > .icon, & > .imagePreview {
						width:50px;
						height:50px;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
					}
				}
				
				& > .value {
					width:100%;
					opacity:.9;
					position:relative;
					display:flex;
					align-items: center;
					gap:5px;
					transition: all .1s linear;
					background: none;
					border:none;
					outline: none;
					padding:0;
					margin:0;

					& > .text {
						max-width:240px;
						white-space: nowrap;
						overflow: hidden !important;
						text-overflow: ellipsis;
						font-family: 'Lekton';
						color:var(--font-1);
						font-size:14px;
					}

					& > .icon {
						color:var(--font-1);
						opacity:.8;
						width:15px;
						height:15px;
						transition: all .1s linear;
						visibility: hidden;
						opacity:0;
					}


					&:hover {
						cursor:pointer;
						opacity:1;
						& > .icon {
							opacity:1;
							visibility: visible;
						}
					}
				}
			}

			& > .divider {
				width:100%;
				height:0;
				border-top:1px solid var(--background-5);
				margin:5px 0;
			}
		}
	}

	&[data-activemodal=""] {display:none;}
	&:not([data-activemodal=""]) > .modal {display:flex;}
	

}


.activeJobs {
	position:absolute;
	width:300px;
	bottom:21px;
	right:-1px;
	z-index:0;
	flex-direction: column;
	border:1px solid var(--background-5);
	background:var(--background-1);
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom:0;
	display:flex;

	opacity: 0;
	visibility: hidden;

	transition: all .1s linear;
	overflow:hidden;

	&.opened {
		opacity: 1;
		visibility: visible;
	}

	& > .top {
		color:var(--font-1);
		font-size:20px;
		font-weight: bold;
		border-bottom:1px solid var(--background-5);
		padding:10px 15px;

	}

	& > .jobs { 
		padding:5px 10px;
		box-sizing: border-box;
		display:flex;
		flex-direction: column;
		overflow-y:scroll;
		max-height:200px;
		gap:5px;

		& > .noJobs {
			color:var(--font-3);
			font-size:12px;
			text-align: center;
			padding:20px 0;
		}

		& > .job {
			background:var(--background-3);
			border-radius: 4px;
			height:45px;
			padding:0 5px;
			box-sizing: border-box;
			display:flex;
			align-items: center;
			justify-content: space-between;

			& > .left {
				width:35px;
				height:35px;
				display:flex;
				justify-content: center;
				align-items: center;

				& > .icon {
					color:var(--font-1);
					width:20px;
					height:20px;
				}
			}
			
			& > .middle {
				flex:1;
				box-sizing: border-box;
				padding:5px 10px;

				& > .title {
					color:var(--font-1);
				}

				& > .additional {
					font-size:12px;
					color:var(--font-3);

				}
			}
	
			& > .right {
				width:35px;
				height:35px;
				display:flex;
				justify-content: center;
				align-items: center;

				& > .endlessLoader {
					width:30px;
					height:30px;
					border-width: 4px;
				}

				& > .progress {
					& > .progressCircle {
						display:flex;
						justify-content: center;
						align-items: center;
						width:35px;
						height:35px;
						border-radius: 50%;

						background: 
						radial-gradient(closest-side, var(--background-3) 79%, transparent 95% 100%),
						conic-gradient(var(--font-1) var(--progress, 0), transparent 0);    

						& > .text {
							color:var(--font-1);
							font-size:10px;
						}
						// & > .innerCircle {
						// 	display:flex;
						// 	justify-content: center;
						// 	align-items: center;
						// 	border-radius: 50%;
						// 	width:30px;
						// 	height:30px;
						// 	background:blue;

						// }
					}
					& > .text {
						color:var(--font-1);
					}
				}
	
			}
		}
	}
}

.middle > .flexContent {
	& > .note {
		color:rgb(194, 28, 28);
		font-size:13px;
		margin-top:5px;
	}

	& > .files {
		display:flex;
		flex-direction: column;
		padding:5px 0;
		gap:5px;
		& > .file {
			display:flex;
			background:rgb(141, 19, 19);
			padding:5px 10px;
			box-sizing: border-box;
			border-radius:5px;
			align-items: center;
			gap:10px;
	
			& > .filename {
				color:var(--font-1);
	
				max-width:200px;
				white-space: nowrap;
				overflow: hidden !important;
				text-overflow: ellipsis;
				flex:1;
	
			}
			& > .path {
				font-size:12px;
				color:var(--font-3);
	
				max-width:600px;
				white-space: nowrap;
				overflow: hidden !important;
				text-overflow: ellipsis;
			}
		}
	}
}

.openSettingsButton {
	background:none;
	border:none;
	outline:none;
	display:flex;
	align-items: center;
	justify-content: center;
	height:100%;
	transition:all .1s linear;

	& > .icon {
		color:var(--font-1);
		font-size:16px;
	}

	&:hover {
		cursor:pointer;
		background-color:var(--background-6);
		& > .icon {
			color:var(--font-1);
		}
	}
}

.settingsOuter {
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(var(--bg-r), var(--bg-g), var(--bg-b), .5);
	color:var(--font-1);
	justify-content: center;
	align-items: center;
	z-index:1;
	display:flex;

	visibility: hidden;
	opacity: 0;

	transition:all .1s linear;

	&.opened {
		visibility: visible;
		opacity: 1;
	}

	& > .settingsWindow {
		background:var(--background-1);
		width:calc(100% - 100px);
		height:calc(100% - 100px);
		border-radius:6px;
		border:1px solid var(--background-5);
		display:flex;
		flex-direction: column;

		& > .top {
			display:flex;
			padding:10px 20px;
			align-items: center;
			& > .title {
				display:flex;
				align-items: center;
				gap:10px;
				color:var(--font-1);
				font-size:25px;
				font-weight: bold;
				flex:1;

				& > .appicon {
					height:25px;
				}
			}

			& > .closeButton {
				height:25px;
				width:25px;
				display:grid;
				place-items:center;
				opacity:.8;
				transition: all .1s linear;
				background:none;
				border:none;
				outline:none;
				padding:0;
				margin:0;

				& > .icon {
					font-size:25px;
					color:var(--font-1);
				}
				&:hover {
					cursor:pointer;
					opacity:1;
				}
			}
			border-bottom:1px solid var(--background-5);
		}
		

		& > .bottom {
			display:flex;
			padding:10px 20px;
			box-sizing: border-box;
			flex:1;
			& > .categories {
				min-width:200px;
				display:flex;
				flex-direction: column;
				gap:5px;
				padding-right:20px;
				padding-top:10px;

				& > .category {
					border-radius:5px;
					padding:10px 10px;
					transition: all .1s linear;
					background:none;
					border:none;
					outline:none;
					border:1px solid black;

					& > .title {
						display:flex;
						align-items: center;
						color:var(--font-2);
						font-weight: 500;
						font-size:16px;

						& > .icon {
							margin-right:5px;
							width:16px;
							height:16px;
							color:var(--font-2);
						}
					}

					&.active {
						border-color: var(--font-3);
						background:var(--background-3);
						
					& > .title {
						color:var(--font-1);
						& > .icon {
							color:var(--font-1);
						}
					}
						
					}
					&:not(.active):hover {
						cursor:pointer;
						color:var(--font-1);
						background:var(--background-3);
					}
				}
	
			}
	
			& > .content {
				flex:1;
				padding:10px 20px;
				border-left:1px solid var(--background-5);
				display:flex;
				flex-direction: column;
				gap:15px;
				
				& > .dividerH {
					width:100%;
					height:0;
					border-top:1px solid var(--background-5);
				}
				& > .element {
					&.inDevelopment {
						background:rgba(255, 0, 0, .3);
						border-radius:6px;
						padding:10px;
						box-sizing: border-box;
						position:relative;

						&::after {
							content:var(--text, "A");
							position:absolute;
							top:5px;
							right:5px;
							background:rgba(255, 0, 0, .3);
							padding:2px 4px;
							border-radius: 6px;
							font-size:10px;
							color:var(--font-1);
							opacity:.9;
						}
					}

					& > .title {
						font-size:18px;
						font-weight: bold;
						margin-bottom:5px;
					}

					& > .description, & > .double > .description {
						color:var(--font-2);
						font-size:14px;
						margin-bottom:5px;
					}

					& > .double {
						display:flex;
						align-items: center;
						flex:1;

						& > .description {
							flex:1;
							margin-bottom:0;
						}

						& > .value {
							display:flex;
							justify-content: center;
							min-width:100px;

							& > span {
								color:var(--font-1);
								padding-left:5px;
								font-size:14px;
							}
						}
					}

					button.option {
						outline:none;
						border:none;
						background:none;

						font-size:16px;
						padding:3px 10px;
						border-radius:5px;
						background:var(--background-4);
						color:var(--font-1);
						border:1px solid var(--background-5);
						transition:all .1s linear;

						&.active {
							background-color:var(--blue-1);
							border-color:var(--blue-1);
						}
						&:not(.active):hover {
							cursor:pointer;
						}
					}
					
					button.cacheButton {
						border:none;
						outline:none;
						background:var(--font-1);
						color:var(--font-1);
						padding:3px 10px;
						border-radius: 2px;
						font-weight: 500;
						transition: all .1s linear;
						font-size:12px;
		
						background:var(--blue-select);
						color:var(--font-3);
	
						&:not(:disabled) {
							background:#00a5ff;
							color:white;
							&:hover {
								cursor:pointer;
								opacity:.9;
							}
						}
					}

					& > .themes {
						width:100%;

						& > .theme {
							padding:0;
							outline:none;
							background:none;
							display:inline-flex;
							flex-direction: column;
							width:198px;
							border:1px solid var(--background-5);
							border-radius:4px;
							overflow:hidden;
							transition:all .1s linear;

							& > .top {
								width:198px;
								height:120px;
								background-size: cover;
								background-repeat: no-repeat;
								background-position: center;
								background-color:var(--background-5);
							}

							& > .bottom {
								height:40px;
								box-sizing: border-box;
								display:flex;
								align-items: center;
								padding:0 15px;
								gap:10px;

								& > .check {
									width:15px;
									height:15px;
									border-radius: 50%;
									position: relative;
									background:var(--background-1);
									border:2px solid var(--background-6);
									box-sizing: border-box;
									transition:all .1s linear;
								}
								& > .title {
									font-size:15px;
									color:var(--font-1);
								}
							}

							&.active {
								border-color:var(--blue-1);

								& > .bottom > .check {
									border:3px solid var(--blue-1);
								}
							}

							&:not(.active):hover {
								cursor:pointer;
								border-color:var(--font-4);
								& > .bottom > .check {
									border-color:var(--font-4);
								}
							}
						}
					}
				}

				& > .about {
					font-size:14px;
					color:var(--font-2);

					& > button {
						color:var(--font-1);
						border:none;
						outline:none;
						background:none;
						text-decoration: underline;
						font-weight: bold;
						padding:0;
						margin:0;
						opacity:.9;
						transition: all .1s linear;

						&:hover {
							cursor:pointer;
							opacity:1;
						}
					}
				}
			}
		}
	}
}

.endlessLoader {
	margin-right:4px;
	width: 12px;
	height: 12px;
	box-sizing: border-box;
	border: 2px solid;
	border-radius: 100%;
	border-color: #e0e0e0;
	border-right-color: #616161;
	animation: rotate 1s linear infinite;

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}